<h1>Data Science Tools and Ecosystem</h1>

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are: 

    * Python 
    * R 
    * SQL

Some of the commonly used libraries used by Data Scientists include:

    * NumPy 
    * Pandas
    * Matplotlib
    * Seaborn

| Data Science Tools |
| ------------------ |
| Jupyter Notebook   |
| RStudio            |
| Apache Spark       |

<h3>Below are a few examples of evaluating arithmetic expressions in Python.</h3>

This a simple arithmetic expression to mutiply then add integers.

In [15]:
result = (3*4)+5
print(f"(3*4) + 5 = {result}")

(3*4) + 5 = 17

This will convert 200 minutes to hours by diving by 60.

In [16]:
minutes = 200
hours = minutes / 60
print(f"{minutes} minutes = {hours} hours")

200 minutes = 3.3333333333333335 hours

<b>Objectives</b>

* List popular languages for Data Science
* List Data Science Tools
* Run an Arithmetic Expression
* Convert minutes to hours

<h2>Jennifer Miller</h2>